<div style="margin: 150px;" class="wraper-details">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="discount.image" alt="Card image cap">
      </div>

      <div style="margin-top: 50px; width: 600px;" class="card text-center">
        <div class="card-header">
          Детальніше
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ discount.name }}</h5>
          <p class="card-text">{{ discount.description }}</p>
          <a href="#" class="btn btn-primary">Скористатись</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div>